[submodule "Font"]
	path = Font/fira-code
	url = https://github.com/tonsky/FiraCode.git
[submodule "Icons"]
	path = Icons
	url = https://github.com/madmaxms/iconpack-obsidian.git
[submodule "Console/pureline"]
	path = Console/pureline
	url = https://github.com/chris-marsh/pureline.git
[submodule "Spotify"]
	path = Spotify
	url = https://github.com/khanhas/spicetify-cli.git
