[Desktop Entry]
Categories=Internet
Comment=
Exec=/opt/WebApps/google-calendar-linux-x64/google-calendar
GenericName=Google Calendar
Icon=/opt/WebApps/google-calendar-linux-x64/resources/app/icon.png
Name=Google Calendar
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
