[Desktop Entry]
Categories=Internet
Comment=
Exec=/opt/WebApps/google-drive-linux-x64/google-drive
GenericName=Google Drive
Icon=/opt/WebApps/google-drive-linux-x64/resources/app/icon.png
Name=Google Drive
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
