[Desktop Entry]
Categories=Internet
Comment=
Exec=/opt/WebApps/my-noise-linux-x64/my-noise
GenericName=Noise & Soundscapes
Icon=/opt/WebApps/my-noise-linux-x64/resources/app/icon.png
Name=myNoise
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
