[Desktop Entry]
Categories=Internet
Comment=
Exec=/opt/WebApps/trello-linux-x64/trello
GenericName=Project Boards
Icon=/opt/WebApps/trello-linux-x64/resources/app/icon.png
Name=Trello
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
